/*Add some style to this form */
#red{
color: red;
}
#yellow{
    color: yellowgreen;
}
#blue{
    color: blue;
}
#meat{
color: orangered;
}
#candy{
    color: pink;
}
#bofa{
    background-color: black;
    color:blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}